:host {
  display: block;
  background: #59c6ff;
}
.wrapper {
  height: 210px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  text-align: center;
}
.header {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #fff;
  -webkit-animation: reveal 0.5s ease 0.25s both;
  -moz-animation: reveal 0.5s ease 0.25s both;
  -o-animation: reveal 0.5s ease 0.25s both;
  -ms-animation: reveal 0.5s ease 0.25s both;
  animation: reveal 0.5s ease 0.25s both;
}
.password-input {
  text-align: center;
  width: 100%;
  -webkit-animation: reveal 0.5s ease 0.5s both;
  -moz-animation: reveal 0.5s ease 0.5s both;
  -o-animation: reveal 0.5s ease 0.5s both;
  -ms-animation: reveal 0.5s ease 0.5s both;
  animation: reveal 0.5s ease 0.5s both;
}
.enter-button {
  width: 100%;
  margin-top: 30px;
  -webkit-animation: reveal 0.5s ease 0.75s both;
  -moz-animation: reveal 0.5s ease 0.75s both;
  -o-animation: reveal 0.5s ease 0.75s both;
  -ms-animation: reveal 0.5s ease 0.75s both;
  animation: reveal 0.5s ease 0.75s both;
}
.error-message {
  color: #ff8283;
  padding: 20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  -o-transition: -o-transform 0.5s, opacity 0.5s;
  -ms-transition: -ms-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.error .error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.error input {
  color: #f00;
}
.error ::-webkit-input-placeholder {
  color: #f00;
}
@-moz-keyframes reveal {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes reveal {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes reveal {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes reveal {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
